<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商店</title>
    <!-- navbar -->
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/navbar-fixed/">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/carousel/">
    <!-- bootstrap -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <!-- Material Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <script src="../js/bootstrap.bundle.js"></script>
    <script src="../js/jQuery-3.6.3.min.js"></script>

    <link rel="stylesheet" href="../css/shop/illustrate.css">
    <link rel="stylesheet" href="../css/shop/stereoscopic.css">
    <link rel="stylesheet" href="../css/shop/tab.css">
    <link rel="stylesheet" href="../css/shop/dropdown.css">
    <link rel="stylesheet" href="../css/shop/tabcontent.css">
    <link rel="stylesheet" href="../css/shop/pop.css">
    <link rel="stylesheet" href="../css/shop/modal.css">
    <link rel="stylesheet" href="../css/shop/counterTotal.css">
    <link rel="stylesheet" href="../css/shop/venueAndCollect.css">
    <!-- 愛心按鈕 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- body -->

</head>

<body>
    <header>
        <!-- navbar -->
        <div id="appendnav"></div>


        <!-- 首圖 -->
        <div class="col-md-12" style="width: 100%;">
            <img src="../img/page/head_4_1.png" alt="" style="width:100%;object-fit:cover;border-radius: 0 300px 0 0;">
        </div>
        <script src="../js/bootstrap.bundle.min.js"></script>
    </header>


    <!-- 我的收藏按鈕 側邊 -->
    <div class="side_button">
        <p class="material-symbols-outlined like_list">favorite</p><br>
        <span style="font-size: 14px;color: black;">POINT</span><br>
        <span class="point" style="font-size: 14px;color: red;font-weight: bolder;">
            <%= point[0].point %>
        </span>
    </div>
    <!-- 我的收藏js -->
    <script>
        var xyz = true;
        var xyzz = true;
        $(".like_list").on("click", function () {
            if (xyzz == true) {
                $(".pop").animate({ right: '60px' });

                xyzz = false;
            } else {
                $(".pop").animate({ right: '-560px' });
                xyzz = true;
            }
        });
    </script>

    <!-- 積分說明 橫幅 -->
    <div class="container illustrate mt-5">
        <div class="row illustrateContent box ">
            <div class="line"></div>
            <img src="../img/shop/shop_banner.png" style="border-radius: 8px" alt="">
        </div>
    </div>


    <!-- 積分前三 -->
    <div class="containermt-5">
        <div class="col-md-12 justify-content-center ">

            <div class="wrap mt-5">
                <div class="card ">
                    <div class="rolebg gg2">
                        <img src="../img/shop/Vector.png" alt="">
                    </div>
                    <div class="role d-flex">
                        <img src="../img/shop/Group 2.png" alt="">
                    </div>
                </div>
            </div>


            <div class="wrap mt-5">
                <div class="card">
                    <div class="rolebg gg2">
                        <img src="../img/shop/Vector.png" alt="">
                    </div>
                    <div class="role d-flex">
                        <img src="../img/shop/Group 3.png" alt="">
                    </div>
                </div>
            </div>

            <div class="wrap mt-5">
                <div class="card ">
                    <div class="rolebg gg2">
                        <img src="../img/shop/Vector.png" alt="">
                    </div>
                    <div class="role d-flex">
                        <img src="../img/shop/Group 1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- 產品分類按鈕 -->
    <div class="tab" style="margin-top: 150px;margin-bottom: 60px;">
        <div class="col-md-12 d-flex" style="padding-right: 80px;padding-left: 80px;">
            <div>
                <button class="button-8" role="button" onclick="openProduct(event, 'whole')">全部</button>
                <button class="button-8" role="button" onclick="openProduct(event, 'Massage')">舒緩按摩</button>
                <button class="button-8" role="button" onclick="openProduct(event, 'Nutrition')">營養補給品</button>
                <button class="button-8" role="button" onclick="openProduct(event, 'Equipment')">健身器材</button>
            </div>
            <div class="dropdown ms-auto">
                <button type="button" onclick="myFunction()" class="dropbtnOrder text-start">排序</button>
                <div id="myDropdown" class="dropdown-content">
                    <button onclick="sortLowToHigh()">價格低至高</button>
                    <button onclick="sortHighToLow()">價格高至低</button>
                    <button onclick="sortByPopularity()">熱門程度優先</button>
                </div>
            </div>
        </div>
    </div>


    <!-- 商品列表 -->
    <div id="whole" class="tabcontent m-2" style="display: block;">
        <div class="container ">
            <div class="row apple">
                <% for(let i=0; i<proCol.length; i++) { %>
                    <div class="col-3 tabmodal">
                        <div class="product-div" data-bs-toggle="modal" data-bs-target="#buy_modal"
                            data-id="<%= proCol[i].products_id %>" data-name="<%= proCol[i].products_name %>"
                            data-price="<%= proCol[i].products_price %>" data-images="<%= proCol[i].products_image %>"
                            data-description="<%= proCol[i].products_description %>"
                            data-purchasesNumber="<%= proCol[i].purchases_number %>"
                            data-boolean="<%= proCol[i].collectBoolean %>">
                            <div>
                                <img src="<%= proCol[i].products_image %>">
                            </div>
                            <div>
                                <button class="text-start p-4">
                                    <span style="font-size: 20px;">
                                        <%= proCol[i].products_name %>
                                    </span><br>
                                    <span style="font-size: 20px;">
                                        <%= proCol[i].products_price %>點
                                    </span><br>
                                    <span class="text-muted" style="font-size: 15px;"> 購買次數: <%=
                                            proCol[i].purchases_number %></span>
                                </button>
                                <div class="heart">
                                    <% if (proCol[i].collectBoolean===1) { %>
                                        <button type="button" style="font-size:24px; display: none;">
                                            <i class="fa fa-heart-o"></i>
                                        </button>
                                        <button type="button" style="font-size:24px;">
                                            <i class="fa fa-heart" style="color: red;"></i>
                                        </button>
                                        <% } else { %>
                                            <button type="button" style="font-size:24px;">
                                                <i class="fa fa-heart-o"></i>
                                            </button>
                                            <button type="button" style="font-size:24px; display: none;">
                                                <i class="fa fa-heart" style="color: red;"></i>
                                            </button>
                                            <% } %>

                                </div>

                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
    </div>

    <div id="Massage" class="tabcontent m-2">
        <div class="container">
            <div class="row apple">
                <% for(let i=0; i<massage.length; i++) { %>
                    <div class="col-3 tabmodal">
                        <div class="product-div" data-bs-toggle="modal" data-bs-target="#buy_modal"
                            data-id="<%= massage[i].products_id %>" data-name="<%= massage[i].products_name %>"
                            data-price="<%= massage[i].products_price %>" data-images="<%= massage[i].products_image %>"
                            data-description="<%= massage[i].products_description %>"
                            data-purchasesNumber="<%= massage[i].purchases_number %>"
                            data-boolean="<%= massage[i].collectBoolean %>">
                            <div>
                                <img src="<%= massage[i].products_image %>">
                            </div>
                            <div>
                                <button class="text-start p-4">
                                    <span style="font-size: 20px;">
                                        <%= massage[i].products_name %>
                                    </span><br>
                                    <span style="font-size: 20px;">
                                        <%= massage[i].products_price %>點
                                    </span><br>
                                    <span class="text-muted" style="font-size: 15px;"> 購買次數: <%=
                                            massage[i].purchases_number %></span>
                                </button>
                                <div class="heart">
                                    <% if (massage[i].collectBoolean===1) { %>
                                        <button type="button" style="font-size:24px; display: none;">
                                            <i class="fa fa-heart-o"></i>
                                        </button>
                                        <button type="button" style="font-size:24px;">
                                            <i class="fa fa-heart" style="color: red;"></i>
                                        </button>
                                        <% } else { %>
                                            <button type="button" style="font-size:24px;">
                                                <i class="fa fa-heart-o"></i>
                                            </button>
                                            <button type="button" style="font-size:24px; display: none;">
                                                <i class="fa fa-heart" style="color: red;"></i>
                                            </button>
                                            <% } %>

                                </div>

                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
    </div>

    <div id="Nutrition" class="tabcontent m-2">
        <div class="container">
            <div class="row apple">
                <% for(let i=0; i<nutritional.length; i++) { %>
                    <div class="col-3 tabmodal">
                        <div class="product-div" data-bs-toggle="modal" data-bs-target="#buy_modal"
                            data-id="<%= nutritional[i].products_id %>" data-name="<%= nutritional[i].products_name %>"
                            data-price="<%= nutritional[i].products_price %>"
                            data-images="<%= nutritional[i].products_image %>"
                            data-description="<%= nutritional[i].products_description %>"
                            data-purchasesNumber="<%= nutritional[i].purchases_number %>"
                            data-boolean="<%= nutritional[i].collectBoolean %>">
                            <div>
                                <img src="<%= nutritional[i].products_image %>">
                            </div>
                            <div>
                                <button class="text-start p-4">
                                    <span style="font-size: 20px;">
                                        <%= nutritional[i].products_name %>
                                    </span><br>
                                    <span style="font-size: 20px;">
                                        <%= nutritional[i].products_price %>點
                                    </span><br>
                                    <span class="text-muted" style="font-size: 15px;"> 購買次數: <%=
                                            nutritional[i].purchases_number %></span>
                                </button>
                                <div class="heart">
                                    <% if (nutritional[i].collectBoolean===1) { %>
                                        <button type="button" style="font-size:24px; display: none;">
                                            <i class="fa fa-heart-o"></i>
                                        </button>
                                        <button type="button" style="font-size:24px;">
                                            <i class="fa fa-heart" style="color: red;"></i>
                                        </button>
                                        <% } else { %>
                                            <button type="button" style="font-size:24px;">
                                                <i class="fa fa-heart-o"></i>
                                            </button>
                                            <button type="button" style="font-size:24px; display: none;">
                                                <i class="fa fa-heart" style="color: red;"></i>
                                            </button>
                                            <% } %>

                                </div>

                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
    </div>

    <div id="Equipment" class="tabcontent m-2">
        <div class="container">
            <div class="row apple">
                <% for(let i=0; i<equipment.length; i++) { %>
                    <div class="col-3 tabmodal">
                        <div class="product-div" data-bs-toggle="modal" data-bs-target="#buy_modal"
                            data-id="<%= equipment[i].products_id %>" data-name="<%= equipment[i].products_name %>"
                            data-price="<%= equipment[i].products_price %>"
                            data-images="<%= equipment[i].products_image %>"
                            data-description="<%= equipment[i].products_description %>"
                            data-purchasesNumber="<%= equipment[i].purchases_number %>"
                            data-boolean="<%= equipment[i].collectBoolean %>">
                            <div>
                                <img src="<%= equipment[i].products_image %>">
                            </div>
                            <div>
                                <button class="text-start p-4">
                                    <span style="font-size: 20px;">
                                        <%= equipment[i].products_name %>
                                    </span><br>
                                    <span style="font-size: 20px;">
                                        <%= equipment[i].products_price %>點
                                    </span><br>
                                    <span class="text-muted" style="font-size: 15px;"> 購買次數: <%=
                                            equipment[i].purchases_number %></span>
                                </button>
                                <div class="heart">
                                    <% if (equipment[i].collectBoolean===1) { %>
                                        <button type="button" style="font-size:24px; display: none;">
                                            <i class="fa fa-heart-o"></i>
                                        </button>
                                        <button type="button" style="font-size:24px;">
                                            <i class="fa fa-heart" style="color: red;"></i>
                                        </button>
                                        <% } else { %>
                                            <button type="button" style="font-size:24px;">
                                                <i class="fa fa-heart-o"></i>
                                            </button>
                                            <button type="button" style="font-size:24px; display: none;">
                                                <i class="fa fa-heart" style="color: red;"></i>
                                            </button>
                                            <% } %>

                                </div>

                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
    </div>


    <!-- 我的收藏列表 -->
    <div id="popup" class="pop">
        <!-- <button class="closureBtn" onclick="closePopup()">關閉</button>        -->
        <div class="test">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>產品</th>
                        <th>點數</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i=0; i<collect.length; i++){ %>
                        <tr class="collected">
                            <td>
                                <%= i+1 %>
                            </td>
                            <td class="smPic" data-bs-toggle="modal" data-bs-target="#buy_modal"
                                data-cid="<%= collect[i].collect_id %>" data-cname="<%= collect[i].products_name %>"
                                data-cprice="<%= collect[i].products_price %>"
                                data-cimages="<%= collect[i].products_image %>"
                                data-cdescription="<%= collect[i].products_description %>"
                                data-cboolean="<%= collect[i].collectBoolean %>"
                                data-cpurchasesNumber="<%= collect[i].purchases_number %>">
                                <img src="<%= collect[i].products_image %>">
                            </td>
                            <td class="collectedName">
                                <%= collect[i].products_name %>
                            </td>
                            <td>
                                <%= collect[i].products_price %>
                            </td>
                            <td>
                                <button class="deleteBtn" data-productname="<%= collect[i].products_name%>">
                                    刪除
                                </button>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>

        </div>
    </div>

    <!-- 彈出商品選項 -->
    <% for(let i=0; i<products.length; i++) { %>
        <form>
            <div class="modal fade modal-product" id="buy_modal">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content bg-white">
                        <div class="modal-header modalTitle justify-content-center">
                            <h2 class="productName"></h2>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body d-flex">
                            <div class="col-6 text-center" style="position: relative;">
                                <img class="productImages" style="width:80%">

                                <button class="collect collectJoin" type="button"
                                    style="position: absolute;bottom: 10px;right: 10px;">
                                    <i class="fa fa-heart-o" style="color: red;font-size: 30px;"></i>
                                </button>
                                <button class="liked collectCancel" type="button"
                                    style="position: absolute;bottom: 10px;right: 10px;">
                                    <i class="fa fa-heart" style="color: red;font-size: 30px;"></i>
                                </button>

                            </div>
                            <div class="col-6 p-5" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
                                <h5 class="description pb-3"> 非常適合團體健身車訓練課程</h5>
                                <span class="price pt-4" style="font-size: 36px;color: red;"></span> 點
                                <div class="d-flex justify-content-start mb-3">
                                    <div class="counterTotal">
                                        <div class="counter">
                                            <input type="button" id="minus" value="-">
                                            <input type="text" id="result" value="">
                                            <input type="button" id="plus" value="+">
                                        </div>
                                        <br>
                                        <span>
                                            兌換積分: <span class="totalPrice"></span>點
                                        </span>
                                    </div>

                                    <div class="venueAndCollect">
                                        <select class="venue" name="" id="" required>
                                            <option value="">提領場館</option>
                                            <option value="Taipei">台北館</option>
                                            <option value="Taichung">台中館</option>
                                            <option value="Tainan">高雄館</option>
                                        </select>
                                    </div>
                                </div>
                                <div id="success-message">兌換成功！</div>
                            </div>
                        </div>

                        <div class="modal-footer purchaseBtn">
                            <button class="button-88" role="button" type="button">兌換</button>
                        </div>
                    </div>
                </div>
        </form>
        <% } %>


            <div class="b-example-divider"></div>
            <footer></footer>
            <script> 
                var token = "<%= token %>"
                var user_name =<%- JSON.stringify(point) %>;
                console.log(user_name);
            </script>
            <script src="../js/appendnav.js"></script>
            <script src="../js/appendfooter.js"></script>

            <!-- 商品分類js -->
            <script>
                function openProduct(evt, productName) {
                    var i, tabcontent, tablinks;
                    tabcontent = document.getElementsByClassName("tabcontent");
                    console.log(tabcontent, 'www');
                    // 先全部 tabcontent 隱藏
                    for (i = 0; i < tabcontent.length; i++) {
                        tabcontent[i].style.display = "none";
                    }
                    tablinks = document.getElementsByClassName("tablinks");
                    console.log(tablinks);
                    // 把按鈕的 active 屬性改成 ""
                    for (i = 0; i < tablinks.length; i++) {
                        tablinks[i].className = tablinks[i].className.replace(" active", "");
                    }
                    document.getElementById(productName).style.display = "block";
                    evt.currentTarget.className += " active";

                }

            </script>

            <!-- 排序js -->
            <script>
                /*  
                    When the user clicks on the button,           
                    toggle between hiding and showing the dropdown content 
                */
                function myFunction() {
                    document.getElementById("myDropdown").classList.toggle("show");
                }

                // Close the dropdown menu if the user clicks outside of it
                window.onclick = function (event) {
                    if (!event.target.matches('.dropbtnOrder')) {
                        var dropdowns = document.getElementsByClassName("dropdown-content");
                        var i;
                        for (i = 0; i < dropdowns.length; i++) {
                            var openDropdown = dropdowns[i];
                            if (openDropdown.classList.contains('show')) {
                                openDropdown.classList.remove('show');
                            }
                        }
                    }
                }
            </script>

            <!-- 抓資料進modal，jquery -->
            <script>
                $('.product-div').on('click', function () {
                    var id = $(this).data('id');
                    var name = $(this).data('name');
                    var price = $(this).data('price');
                    var images = $(this).data('images');
                    var description = $(this).data('description');
                    var boolean = $(this).data('boolean');
                    var collectJoin = $('.collectJoin');
                    var collectCancel = $('.collectCancel');
                    var purchasesNumber = $(this).data('purchasesnumber'); // data()裡面都要放小寫

                    console.log(purchasesNumber);

                    console.log(id);
                    console.log(name);
                    console.log(price);
                    console.log(images);
                    console.log(description);
                    console.log(boolean);
                    // console.log(collectJoin);
                    // console.log(collectCancel);

                    $('.productName').text(name);
                    $('.productImages').attr('src', images)
                    $('.description').text(description);
                    $('.price').text(price);
                    $('.totalPrice').text(price);
                    $('#result').val(1); // 將計數器的值設為1
                    $('.button-88').val(purchasesNumber);

                    if (boolean == 1) {
                        collectJoin.css('display', "none");
                        collectCancel.css('display', "block");
                    } else {
                        collectJoin.css('display', "block");
                        collectCancel.css('display', "none");

                    }

                    // ------------------------------------------------------
                    // 計數器js
                    var x = document.getElementById('plus');
                    var y = document.getElementById('minus');
                    var z = document.getElementById('result');

                    var result = 1;

                    x.addEventListener('click', function () {
                        result++;
                        z.value = result;
                        var price = document.querySelector('.price').innerHTML;
                        var totalPrice = parseInt(price) * parseInt(z.value);
                        document.querySelector('.totalPrice').innerHTML = totalPrice;
                    });

                    y.addEventListener('click', function () {
                        if (result > 1) {
                            result--;
                            z.value = result;
                            var price = document.querySelector('.price').innerHTML;
                            var totalPrice = parseInt(price) * parseInt(z.value);
                            document.querySelector('.totalPrice').innerHTML = totalPrice;
                        }
                    });

                });
            </script>

            <!-- 從收藏連到modal -->
            <script>
                $('.smPic').on('click', function () {
                    var id = $(this).data('cid');
                    var name = $(this).data('cname');
                    var price = $(this).data('cprice');
                    var images = $(this).data('cimages');
                    var description = $(this).data('cdescription');
                    var boolean = $(this).data('cboolean');
                    var collectJoin = $('.collectJoin');
                    var collectCancel = $('.collectCancel');
                    var purchasesNumber = $(this).data('cpurchasesnumber');

                    console.log(id, 'ppiikkaa');
                    console.log(name);
                    console.log(price);
                    console.log(images);
                    console.log(description);
                    console.log(boolean);
                    console.log(purchasesNumber, '我是購買次數...');
                    // console.log(collectJoin);
                    // console.log(collectCancel);

                    $('.productName').text(name);
                    $('.productImages').attr('src', images)
                    $('.description').text(description);
                    $('.price').text(price);
                    $('.totalPrice').text(price);
                    $('#result').val(1); // 將計數器的值設為1
                    $('.button-88').val(purchasesNumber);


                    if (boolean == 1) {
                        collectJoin.css('display', "none");
                        collectCancel.css('display', "block");
                    } else {
                        collectJoin.css('display', "block");
                        collectCancel.css('display', "none");

                    }

                    // ------------------------------------------------------
                    // 計數器js
                    var x = document.getElementById('plus');
                    var y = document.getElementById('minus');
                    var z = document.getElementById('result');

                    var result = 1;

                    x.addEventListener('click', function () {
                        result++;
                        z.value = result;
                        var price = document.querySelector('.price').innerHTML;
                        var totalPrice = parseInt(price) * parseInt(z.value);
                        document.querySelector('.totalPrice').innerHTML = totalPrice;
                    });

                    y.addEventListener('click', function () {
                        if (result > 1) {
                            result--;
                            z.value = result;
                            var price = document.querySelector('.price').innerHTML;
                            var totalPrice = parseInt(price) * parseInt(z.value);
                            document.querySelector('.totalPrice').innerHTML = totalPrice;
                        }
                    });

                });

            </script>

            <!-- 點擊加入收藏 -->
            <script>
                $('.collectJoin').on('click', function () {
                    var images = $('.productImages').attr('src');
                    var name = $('.productName').html();
                    var price = $('.price').html(); // 為何用text()會變成很多個?
                    var description = $('.description').html();

                    console.log(images);
                    console.log(name);
                    console.log(price);
                    console.log(description, 'pika');


                    function getcollect() {
                        $.ajax({
                            type: "post",
                            url: "http://localhost:5000/collect",
                            data: {
                                images,
                                name,
                                price,
                                description
                            },
                            success: function redirectToModal() {
                                // alert('收藏成功');
                                window.location.reload();
                            }

                            
                        })

                    }

                    getcollect();

                    $('.collectJoin').css('display', 'none');
                    $('.collectCancel').css('display', 'block');

                })

            </script>

            <!-- 點擊已收藏，刪掉收藏列表 -->
            <script>
                $('.collectCancel').on('click', function () {
                    console.log('ok')

                    var productName = $('.productName').html();
                    console.log(productName);

                    // 獲取所有具有 "collectedName" class 的 <td> 元素
                    var tdElements = document.querySelectorAll('.collectedName');

                    // 建立一個空陣列來存放內容
                    var tdInnerTextArray = [];

                    // 遍歷每個 <td> 元素並獲取其 innerText
                    tdElements.forEach(function (td) {
                        var innerText = td.innerText.trim(); // 去除前後空白
                        tdInnerTextArray.push(innerText);
                    });

                    console.log(tdInnerTextArray);

                    if (tdInnerTextArray.includes(productName)) {
                        console.log('yes');

                        var collectTr = document.querySelectorAll('tr');
                        var filteredTr = Array.prototype.slice.call(collectTr, 1); // 过滤掉第一个元素

                        filteredTr.forEach(function (tr) {
                            // 在这里对过滤后的<tr>元素执行操作
                            var collectName = tr.querySelector(".collectedName").innerHTML.trim();
                            if (collectName === productName) {
                                // 找到与目标产品名称匹配的<tr>元素，可以在这里执行相关操作
                                console.log(tr, 'qwe');
                                $.ajax({
                                    type: "put",
                                    url: "http://localhost:5000/collect",
                                    data: {
                                        productName
                                    },
                                    success: function redirectToModal() {
                                        // alert('刪除收藏');
                                        window.location.reload();
                                        tr.remove(); // 從 DOM 中移除該行元素
                                    }

                                })
                            }
                        });
                    } else {
                        console.log('no')
                    }

                })
            </script>

            <!-- 收藏刪除 -->
            <script>
                $('.deleteBtn').on('click', function () {
                    var productName = $(this).data('productname');
                    console.log(productName);
                    var $row = $(this).closest('tr'); // 取得被按鈕包覆的 tr 元素
                    console.log($row);
                    $.ajax({
                        type: "put",
                        url: "http://localhost:5000/collect",
                        data: {
                            productName
                        },
                        success: function () {
                            // alert('ookk');
                            // $row.remove(); // 從 DOM 中移除該行元素
                            window.location.reload();
                        }
                    })

                })
            </script>

            <!-- 排序js -->
            <script>
                function sortLowToHigh() {
                    // 獲得商品列表
                    let tabcontent = document.querySelectorAll('.tabcontent');

                    // 獲得display: block的商品列表
                    let selectedTabcontent = document.querySelector('.tabcontent[style="display: block;"] .apple')

                    // 原本的
                    let selectedProductdiv = Array.from(selectedTabcontent.querySelectorAll('.product-div'));

                    // 經過排序的
                    let sortedLowToHigh = selectedProductdiv.slice().sort(function (a, b) {
                        return a.getAttribute('data-price') - b.getAttribute('data-price');
                    })

                    for (let i = 0; i < sortedLowToHigh.length; i++) {
                        console.log(sortedLowToHigh[i]);
                    }
                    selectedTabcontent.innerHTML = "";
                    sortedLowToHigh.forEach(function (value, index, array) {
                        let div = document.createElement('div');
                        div.className = 'col-3 tabmodal';
                        div.appendChild(value);
                        selectedTabcontent.appendChild(div);
                    })

                }
                function sortHighToLow() {
                    // 獲得商品列表
                    let tabcontent = document.querySelectorAll('.tabcontent');

                    // 獲得display: block的商品列表
                    let selectedTabcontent = document.querySelector('.tabcontent[style="display: block;"] .apple')

                    // 原本的
                    let selectedProductdiv = Array.from(selectedTabcontent.querySelectorAll('.product-div'));

                    // 經過排序的
                    let sortedLowToHigh = selectedProductdiv.slice().sort(function (a, b) {
                        return b.getAttribute('data-price') - a.getAttribute('data-price');
                    })

                    for (let i = 0; i < sortedLowToHigh.length; i++) {
                        console.log(sortedLowToHigh[i]);
                    }
                    selectedTabcontent.innerHTML = "";
                    sortedLowToHigh.forEach(function (value, index, array) {
                        let div = document.createElement('div');
                        div.className = 'col-3 tabmodal';
                        div.appendChild(value);
                        selectedTabcontent.appendChild(div);
                    })

                }
                function sortByPopularity() {
                    // 獲得商品列表
                    let tabcontent = document.querySelectorAll('.tabcontent');

                    // 獲得display: block的商品列表
                    let selectedTabcontent = document.querySelector('.tabcontent[style="display: block;"] .apple')

                    // 原本的
                    let selectedProductdiv = Array.from(selectedTabcontent.querySelectorAll('.product-div'));

                    // 經過排序的
                    let sortedLowToHigh = selectedProductdiv.slice().sort(function (a, b) {
                        return b.getAttribute('data-purchasesNumber') - a.getAttribute('data-purchasesNumber');
                    })

                    for (let i = 0; i < sortedLowToHigh.length; i++) {
                        console.log(sortedLowToHigh[i]);
                    }
                    selectedTabcontent.innerHTML = "";
                    sortedLowToHigh.forEach(function (value, index, array) {
                        let div = document.createElement('div');
                        div.className = 'col-3 tabmodal';
                        div.appendChild(value);
                        selectedTabcontent.appendChild(div);
                    })

                }

            </script>

            <!-- 兌換，並傳送兌換紀錄 -->
            <script>
                const successMessage = document.getElementById('success-message');
                function showSuccessMessage() {
                    successMessage.style.display = 'block';
                    setTimeout(() => {
                        successMessage.style.display = 'none';
                        window.location.reload();
                    }, 1500); // 2秒后隐藏成功消息并立即执行页面刷新
                }


                $('.purchaseBtn').on('click', function () {
                    var purchaseItem = $('.productName').html();
                    var purchaseQuantity = $('#result').val();
                    var totalPrice = $('.totalPrice').html();
                    var selectedVenue = $('.venue').val();
                    var purchasesNumber = $('.button-88').val();

                    console.log('我是兌換');
                    console.log(purchaseItem, '我是商品名');
                    console.log(purchaseQuantity, '我是兌換數量');
                    console.log(totalPrice, '我是總金額');
                    console.log(selectedVenue, '我是場館');
                    console.log(purchasesNumber, '我是舊的購買次數');

                    var newPurchasesNumber = parseInt(purchasesNumber) + parseInt(purchaseQuantity);
                    console.log(newPurchasesNumber, '我是新的購買次數');

                    // 獲得總積分、兌換積分
                    var point = $('.point').html().trim();
                    var totalPrice = $('.totalPrice').html();
                    var remainingPoints = parseInt(point) - parseInt(totalPrice); // 得到剩餘積分

                    console.log(point, '我是總積分');
                    console.log(totalPrice, '我是兌換積分');
                    console.log(remainingPoints, '我是剩餘積分');

                    // 檢查是否選擇了場館
                    if (selectedVenue === "") {
                        alert("請選擇提領場館");
                        return;
                    }

                    if (confirm("確定要兌換嗎？")) {
                        $.ajax({
                            type: 'post',
                            url: "http://localhost:5000/purchaselist",
                            data: {
                                purchaseItem,
                                purchaseQuantity,
                                totalPrice,
                                selectedVenue,
                                newPurchasesNumber,
                                remainingPoints
                            },
                            success: function () {
                                showSuccessMessage();
                            }
                        });
                    }
                    // alert('qweqwe') // 2
                })
            </script>

            <!-- 扣積分，並回傳 -->
            <!-- <script>
                var purchase = document.querySelector('.purchaseBtn');
                purchase.addEventListener('click', function () {
                    console.log(purchase);
                    var point = "<%= point[0].point %>"
                    console.log(point);
                    var totalPrice = document.querySelector('.totalPrice').innerText;
                    console.log(totalPrice);
                    var remainingPoints = parseInt(point) - parseInt(totalPrice);
                    console.log(remainingPoints);

                    alert('pika');

                    $.ajax({
                        type: 'put',
                        url: "http://localhost:5000/member",
                        data: {
                            remainingPoints
                        },
                        success: function () {
                            alert('兌換成功');
                        }
                    })
                })
            </script> -->


</body>

</html>